.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

#right-side {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}


.nav-link-wrapper {
  margin: 20px;
}

.nav-wrapper a {
  color: black;
  text-decoration: none;
}

#linkedin {
  display: block;
  width: 21px;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#tommy-bio-pic {
  grid-area: picture;
  max-width: 100%;
  max-height: 95%;
  justify-self: end;
}

#bio-header {
  grid-area: header;
  text-align: center;
  align-self: end;
}

#bio-paragraph {
  grid-area: paragraph;
  font-size: 25px;
  align-self: start;
  margin: 0px 100px;
}

#bio {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
  "picture header"
  "picture paragraph"
  "picture paragraph";
  justify-items: center;
  align-items: center;
}